.navbar-inverse{
  background-color:olivedrab;
}

.navbar-inverse .navbar-nav>.active>a{
  background-color:darkslategray;
}

.navbar-inverse .navbar-nav>li>a{
  color:white;
}

.navbar-inverse .navbar-brand{
  color:white;
}

.navbar-inverse .navbar-nav>.active>a:hover{
  background-color:darkorange;
}